In [53]:
import pandas as pd
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy import create_engine
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
ENGINE = create_engine('postgresql://postgres:root@localhost:5432/roaddiet_crashanalysis')
GIS_ENGINE = create_engine('postgresql://dvrpc_viewer:viewer@gis-db:5432/gis')
DATA_ROOT = 'D:\dvrpc_shared\Sandbox\CrashThreshold\data'

In [4]:
Q_grab = """
    SELECT *
    FROM crashes_bycounty
    """
df = pd.read_sql_query(Q_grab, ENGINE)
df.head()

,concatid,nlf_id,nlf_cntl_b,nlf_cntl_e,total_cras,fatal_coun,serious_in,ped_count,bike_count,rear_end,angle,left_turns,geometry,tshape,co_name
0,1001910,74202,0,2824,9,0.0,0.0,0.0,0.0,1,7,0,0102000020E61000000F000000200C3B2A16C852C0E878...,0102000020266900000F0000002F25C891AEDC1D414C77...,Bucks
1,10019100,74202,21386,23559,13,0.0,1.0,0.0,0.0,4,1,0,0102000020E610000006000000C0EB98188CC852C04892...,01020000202669000006000000CCBC10B845D31D41E61D...,Bucks
2,10019101,1962,0,402,2,0.0,1.0,0.0,0.0,0,1,0,0102000020E610000004000000C0EB98188CC852C04892...,01020000202669000004000000CCBC10B845D31D41E61D...,Bucks
3,1001911,1960,0,3568,14,0.0,1.0,0.0,0.0,0,11,3,0102000020E610000028000000D42694A611C852C07819...,010200002026690000280000002BBE5ABA0BDD1D41A26F...,Bucks
4,1001920,74202,2824,4449,2,0.0,0.0,0.0,0.0,2,0,0,0102000020E61000000700000030F88F7B2CC852C04065...,01020000202669000007000000AA73BF3BE4DA1D418561...,Bucks

In [5]:
#calculate the percent of total crashes in each category for all district 6 segments
df['perc_vu']      = ((df['ped_count']+df['bike_count'])/df['total_cras'])
df['perc_fatal']   = (df['fatal_coun']/df['total_cras'])
df['perc_serious'] = (df['serious_in']/df['total_cras'])
df['perc_rear']    = (df['rear_end']/df['total_cras'])
df['perc_angle']   = (df['angle']/df['total_cras'])
df['perc_left']    = (df['left_turns']/df['total_cras'])

In [32]:
#create county subsets
def create_county_subsets(county):
    dfsub = df[df['co_name'] == county]
    return  dfsub


Bucks_df        = create_county_subsets('Bucks')
Chester_df      = create_county_subsets('Chester')
Delaware_df     = create_county_subsets('Delaware')
Montgomery_df   = create_county_subsets('Montgomery')
Philadelphia_df = create_county_subsets('Philadelphia')

In [33]:
counties = ['Bucks', 'Chester', 'Delaware', 'Montgomery', 'Philadelphia']
df_list = [Bucks_df, Chester_df, Delaware_df, Montgomery_df, Philadelphia_df]

county_dict = dict(zip(counties, df_list))

In [46]:
counties = ['Bucks', 'Chester', 'Delaware', 'Montgomery', 'Philadelphia']
means = {}
sds = {}
crashtypes = ['vu', 'fatal', 'serious', 'rear', 'angle', 'left']
for county in counties: 
    means[county] = {}
    sds[county] = {}
    for crashtype in crashtypes:
        fieldname = f'perc_{crashtype}'
        means[county][crashtype] = county_dict[county][fieldname].mean()
        sds[county][crashtype] = county_dict[county][fieldname].std()

{'vu': 0.011130663525429156,
 'fatal': 0.009307059827923868,
 'serious': 0.035779304147519904,
 'rear': 0.18994135063537623,
 'angle': 0.2776706865880298,
 'left': 0.1754581221019973}

In [50]:
def county_flag_segments(type, county):
      df = county_dict[county]
      col  = fr'perc_{type}'
      mean = means[county][type]
      sd  = sds[county][type]
      oneval = mean+sd
      twoval = mean+sd+sd
      #above average
      df.loc[df[col] >  mean, fr'c_av_{type}'] = 'True'
      df.loc[df[col] <= mean, fr'c_av_{type}'] = 'False'
      #above one SD
      df.loc[df[col] >  oneval, fr'c_osd_{type}'] = 'True'
      df.loc[df[col] <= oneval, fr'c_osd_{type}'] = 'False'
      #above two SD
      df.loc[df[col] >  twoval, fr'c_tsd_{type}'] = 'True'
      df.loc[df[col] <= twoval, fr'c_tsd_{type}'] = 'False'

In [54]:
counties = ['Bucks', 'Chester', 'Delaware', 'Montgomery', 'Philadelphia']
for county in counties:
    for key in means[county]:
        county_flag_segments(key, county)

In [ ]:
df_combine = pd.concat(Bucks_df, Chester_df, Delaware_df, Montgomery_df, Philadelphia_df)
#output
df_combine.to_sql('county_thresholds', ENGINE, if_exists= 'replace')

In [44]:
means = {}
m = county_dict['Bucks']['perc_vu'].mean()
means['Bucks'] = {}
means['Bucks']['vu'] = m
means['Bucks']['vu']

0.021338157440591393

In [92]:
#create dictionaries to iterate over in function
types = ['vu', 'fatal', 'serious', 'rear', 'angle', 'left']
c_means = [c_vu_mean, c_fatal_mean, c_serious_mean, c_rear_mean, c_angle_mean, c_left_mean]
c_sds   = [c_vu_sd, c_fatal_sd, c_serious_sd, c_rear_sd, c_angle_sd, c_left_sd]

c_meandict = dict(zip(types, c_means))
c_sd_dict  = dict(zip(types, c_sds))

In [103]:
df.head()

,concatid,nlf_id,nlf_cntl_b,nlf_cntl_e,total_cras,fatal_coun,serious_in,ped_count,bike_count,rear_end,...,Philadelphia_tsd_serious,Philadelphia_av_rear,Philadelphia_osd_rear,Philadelphia_tsd_rear,Philadelphia_av_angle,Philadelphia_osd_angle,Philadelphia_tsd_angle,Philadelphia_av_left,Philadelphia_osd_left,Philadelphia_tsd_left
0,1001910,74202,0,2824,9,0.0,0.0,0.0,0.0,1,...,False,False,False,False,True,True,False,False,False,False
1,10019100,74202,21386,23559,13,0.0,1.0,0.0,0.0,4,...,False,True,False,False,False,False,False,False,False,False
2,10019101,1962,0,402,2,0.0,1.0,0.0,0.0,0,...,True,False,False,False,True,False,False,False,False,False
3,1001911,1960,0,3568,14,0.0,1.0,0.0,0.0,0,...,False,False,False,False,True,True,False,False,False,False
4,1001920,74202,2824,4449,2,0.0,0.0,0.0,0.0,2,...,False,True,True,True,False,False,False,False,False,False

In [51]:
#calculate the mean and standard deviation for each percentage field for all district 6 segments
vu_mean, fatal_mean, serious_mean, rear_mean, angle_mean, left_mean = df[['perc_vu', 'perc_fatal', 'perc_serious', 'perc_rear', 'perc_angle', 'perc_left']].mean()
vu_sd, fatal_sd, serious_sd, rear_sd, angle_sd, left_sd = df[['perc_vu', 'perc_fatal', 'perc_serious', 'perc_rear', 'perc_angle', 'perc_left']].std()

In [52]:
#create dictionaries to iterate over in function
types = ['vu', 'fatal', 'serious', 'rear', 'angle', 'left']
means = [vu_mean, fatal_mean, serious_mean, rear_mean, angle_mean, left_mean]
sds   = [vu_sd, fatal_sd, serious_sd, rear_sd, angle_sd, left_sd]

meandict = dict(zip(types, means))
sd_dict  = dict(zip(types, sds))

In [97]:
#flag segments by value relative to the mean and SD
# in column names, d = district, c = county, av = above average, 
# osd = above one standard deviation, tsd = above two standard deviations

def flag_segments(type, universe):
      col  = fr'perc_{type}'
      mean = meandict[type]
      sd  = sd_dict[type]
      oneval = mean+sd
      twoval = mean+sd+sd
      #above average
      df.loc[df[col] >  mean, fr'{universe}_av_{type}'] = 'True'
      df.loc[df[col] <= mean, fr'{universe}_av_{type}'] = 'False'
      #above one SD
      df.loc[df[col] >  oneval, fr'{universe}_osd_{type}'] = 'True'
      df.loc[df[col] <= oneval, fr'{universe}_osd_{type}'] = 'False'
      #above two SD
      df.loc[df[col] >  twoval, fr'{universe}_tsd_{type}'] = 'True'
      df.loc[df[col] <= twoval, fr'{universe}_tsd_{type}'] = 'False'

In [67]:
for key in meandict:
    flag_segments(key, 'd')

In [68]:
df.head(10)

,concatid,nlf_id,nlf_cntl_b,nlf_cntl_e,total_cras,fatal_coun,serious_in,ped_count,bike_count,rear_end,...,d_tsd_serious,d_av_rear,d_osd_rear,d_tsd_rear,d_av_angle,d_osd_angle,d_tsd_angle,d_av_left,d_osd_left,d_tsd_left
0,1001910,74202,0,2824,9,0.0,0.0,0.0,0.0,1,...,False,False,False,False,True,True,False,False,False,False
1,10019100,74202,21386,23559,13,0.0,1.0,0.0,0.0,4,...,False,True,False,False,False,False,False,False,False,False
2,10019101,1962,0,402,2,0.0,1.0,0.0,0.0,0,...,True,False,False,False,True,False,False,False,False,False
3,1001911,1960,0,3568,14,0.0,1.0,0.0,0.0,0,...,False,False,False,False,True,True,False,True,False,False
4,1001920,74202,2824,4449,2,0.0,0.0,0.0,0.0,2,...,False,True,True,True,False,False,False,False,False,False
5,1001930,74202,4449,5938,1,0.0,0.0,0.0,0.0,0,...,False,False,False,False,False,False,False,False,False,False
6,1001931,74306,0,1488,4,0.0,0.0,0.0,0.0,1,...,False,True,False,False,False,False,False,True,False,False
7,1001940,74202,5938,9363,36,0.0,0.0,4.0,1.0,10,...,False,True,False,False,True,False,False,True,False,False
8,1001950,74202,9363,12218,20,0.0,0.0,0.0,1.0,7,...,False,True,False,False,False,False,False,True,False,False
9,1001960,74202,12218,15660,43,0.0,0.0,3.0,2.0,8,...,False,False,False,False,True,False,False,True,True,False