In [4]:
import pandas as pd
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy import create_engine

In [5]:
ENGINE = create_engine('postgresql://postgres:root@localhost:5432/roaddiet_crashanalysis')
GIS_ENGINE = create_engine('postgresql://dvrpc_viewer:viewer@gis-db:5432/gis')
DATA_ROOT = 'D:\dvrpc_shared\Sandbox\CrashThreshold\data'

In [6]:
Q_grab = """
    SELECT *
    FROM crashes_bycounty
    """
df = pd.read_sql_query(Q_grab, ENGINE)
df.head()

,concatid,nlf_id,nlf_cntl_b,nlf_cntl_e,total_cras,fatal_coun,serious_in,ped_count,bike_count,rear_end,angle,left_turns,geometry,tshape,co_name
0,1001910,74202,0,2824,9,0.0,0.0,0.0,0.0,1,7,0,0102000020E61000000F000000200C3B2A16C852C0E878...,0102000020266900000F0000002F25C891AEDC1D414C77...,Bucks
1,10019100,74202,21386,23559,13,0.0,1.0,0.0,0.0,4,1,0,0102000020E610000006000000C0EB98188CC852C04892...,01020000202669000006000000CCBC10B845D31D41E61D...,Bucks
2,10019101,1962,0,402,2,0.0,1.0,0.0,0.0,0,1,0,0102000020E610000004000000C0EB98188CC852C04892...,01020000202669000004000000CCBC10B845D31D41E61D...,Bucks
3,1001911,1960,0,3568,14,0.0,1.0,0.0,0.0,0,11,3,0102000020E610000028000000D42694A611C852C07819...,010200002026690000280000002BBE5ABA0BDD1D41A26F...,Bucks
4,1001920,74202,2824,4449,2,0.0,0.0,0.0,0.0,2,0,0,0102000020E61000000700000030F88F7B2CC852C04065...,01020000202669000007000000AA73BF3BE4DA1D418561...,Bucks

In [18]:
#calculate the percent of total crashes in each category for all district 6 segments
df['perc_vu']      = ((df['ped_count']+df['bike_count'])/df['total_cras'])
df['perc_fatal']   = (df['fatal_coun']/df['total_cras'])
df['perc_serious'] = (df['serious_in']/df['total_cras'])
df['perc_rear']    = (df['rear_end']/df['total_cras'])
df['perc_angle']   = (df['angle']/df['total_cras'])
df['perc_left']    = (df['left_turns']/df['total_cras'])

In [27]:
#calculate the mean and standard deviation for each percentage field for all district 6 segments
vu_mean, fatal_mean, serious_mean, rear_mean, angle_mean, left_mean = df[['perc_vu', 'perc_fatal', 'perc_serious', 'perc_rear', 'perc_angle', 'perc_left']].mean()
vu_sd, fatal_sd, serious_sd, read_sd, angle_sd, left_sd = df[['perc_vu', 'perc_fatal', 'perc_serious', 'perc_rear', 'perc_angle', 'perc_left']].std()

0.2254474709156241 0.22333250806852029

In [28]:
#flag segments by value relative to the mean and SD
# in column names, d = district, c = county, av = above average, osd = above one standard deviation, tsd = above two standard deviations
def flag_segments(type):
    


df.loc[df['perc_vu'] > vu_mean, 'd_av_vu']  = 'True' 
df.loc[df['perc_vu'] <= vu_mean, 'd_av_vu'] = 'False'

In [50]:
def flag_segments(type, universe):
    col  = fr'perc_{type}'
    mean = fr'{type}_mean'
    sd   = fr'{type}_sd'
    '''
    #above average
    df.loc[df[col] >  mean, fr'{universe}_av_{type}'] = 'True'
    df.loc[df[col] <= mean, fr'{universe}_av_{type}'] = 'False'
    #above one SD
    one_val = mean + sd
    df.loc[df[col] >  one_val, fr'{universe}_osd_{type}'] = 'True'
    df.loc[df[col] <= one_val, fr'{universe}_osd_{type}'] = 'False'
    #above two SD
    two_val = mean + sd + sd
    df.loc[df[col] >  two_val, fr'{universe}_tsd_{type}'] = 'True'
    df.loc[df[col] <= two_val, fr'{universe}_tsd_{type}'] = 'False'
    ''' 
    #print(col)
    print(mean)
    #print(sd)
    #print(fr'{universe}_av_{type}')

flag_segments('vu', 'd')

vu_mean

In [36]:
vu_mean

0.03734015738519113